# Базовая часть

## Задание 1.1

Напишите функцию, которая принимает список чисел my_list (количество товаров разных марок) и число $n$ и возвращает сумму всех чисел списка меньше либо равных $n$ (суммарное количество товаров, которых в наличие меньше либо равно $n$).

In [1]:
def function_1_1(my_list, n):
    res = 0
    for i in my_list:
        if i<=n:
            res+=i
    return res

In [2]:
function_1_1([1, 2, 3, 4, 5, 6, 3, 7], 7) == 31

True

In [3]:
function_1_1([1, 2, 3, 4, 4, 3, 2, 1], 7) == 20

True

In [4]:
function_1_1([1, 2, 3, 4, 4, 3, 2, 1], 3) == 12

True

In [5]:
function_1_1([1, 2, 3, 4, 5, 6, 3, 7], 5) == 18

True

In [6]:
function_1_1([1, 2, 3, 4, 5, 6, 3, 7], 3) == 9

True

In [7]:
function_1_1([1, 2, 3, 4, 5, 6, 3, 7], 0) == 0

True

## Задание 1.2

Имеется список пар (фамилия, долг) $my\_list$ и число $dept$. Нужно написать функцию, которая для каждой фамилии находит суммарный долг и выводит отсортированный список фамилий, у которых долг строго больше $dept$.

Одна и та же фамилия может встречаться несколько раз, и тогда долги по ней суммируются.

In [127]:
def function_1_2(my_list, dept):
    res = set()
    n = dict()
    for record in my_list:
        if record[0] in n:
            n[record[0]]+=record[1]
        else:
            n[record[0]]=record[1]
        if n[record[0]]>dept:
            res.add(record[0])
    return sorted(list(res))
function_1_2([('Ivanov', 1), ('Petrov', 2), ('Ivanov', 2), ('Sidorov', 4)], 1)

['Ivanov', 'Petrov', 'Sidorov']

In [128]:
function_1_2([('Ivanov', 1), ('Petrov', 2), ('Ivanov', 2), ('Sidorov', 4)], 1) == ['Ivanov', 'Petrov', 'Sidorov']

True

In [129]:
function_1_2([('Ivanov', 1), ('Petrov', 2), ('Ivanov', 2), ('Sidorov', 4)], 2) == ['Ivanov', 'Sidorov']

True

In [130]:
function_1_2([('Ivanov', 1), ('Petrov', 2), ('Ivanov', 2), ('Sidorov', 4)], 3) == ['Sidorov']

True

In [131]:
function_1_2([('Ivanov', 1), ('Petrov', 2), ('Ivanov', 2), ('Sidorov', 4)], 4) == []

True

In [132]:
function_1_2([('Ivanov', 1), ('Petrov', 2), ('Ivanov', 1), ('Sidorov', 4)], 2) == ['Sidorov']

True

In [133]:
function_1_2([('Ivanov', 1), ('Petrov', 2), ('Ivanov', 2), ('Petrov', 4)], 2) == ['Ivanov', 'Petrov']

True

In [134]:
function_1_2([('Ivanov', 1), ('Petrov', 2), ('Ivanov', 2), ('Petrov', 4)], 3) == ['Petrov']

True

# Продвинутая часть

## Задание 2.1

Напишите функцию, принимающую число $n$ и считающую $n!$, не используя модуль math

$n! = 1 \cdot 2 \cdot 3 \cdot \dots \cdot (n - 1) \cdot n$

Подсказка: воспользуйтесь функцией reduce или циклами

In [69]:
def function_2_1(n):
    return reduce((lambda x,y:x*y),xrange(1,n+1))

2

In [70]:
function_2_1(3) == 6

True

In [71]:
function_2_1(5) == 120

True

In [72]:
function_2_1(9) == 362880

True

In [73]:
function_2_1(13) == 6227020800

True

In [74]:
import math

for n in xrange(1, 21):
    print math.factorial(n) == function_2_1(n)

True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True

## Задание 2.2

Есть два списка чисел: цены товаров в одном магазине и цены товаров в другом магазине.

Нужно сравнить средние (среднее берётся по всем товарам) цены, минимальные цены и максимальные  в магазинах. Если первое зачение меньше надо вернуть 'First', если второе, то 'Second', а если равны, то 'Equal'

Например, function_2_2([1, 2, 3], [2, 2, 2])

В первом магазине среднее значение 2, минимальное 1, максимальное 3. А во втором среднее 2, минимальное 2 и максимальное 2.

Результаты сравнения $2 = 2,~1 < 2,~3 > 2$, поэтому нужно вернуть  ('Equal', 'First', 'Second')

In [121]:
def function_2_2(list1, list2):
    res = []
    if float(sum(list1))/len(list1)==float(sum(list2))/len(list2):
        res.append('Equal')
    elif float(sum(list1))/len(list1)<float(sum(list2))/len(list2):
        res.append('First')
    else:
        res.append('Second')
        
    if min(list1)==min(list2):
        res.append('Equal')
    elif min(list1)<min(list2):
        res.append('First')
    else:
        res.append('Second')
        
    if max(list1)==max(list2):
        res.append('Equal')
    elif max(list1)<max(list2):
        res.append('First')
    else:
        res.append('Second')
        
    return tuple(res)

In [122]:
function_2_2([1, 2, 3], [2, 2, 2]) == ('Equal', 'First', 'Second')

True

In [123]:
function_2_2([2, 2, 1], [4]) ==('First', 'First', 'First')

True

In [124]:
function_2_2([3, 5], [2, 4, 6]) == ('Equal', 'Second', 'First')

True

In [125]:
function_2_2([1, 7], [2, 4, 7]) == ('First', 'First', 'Equal')

True

# Сложная часть

## Задание 3.1

Вам известны количество продаж разных товаров. Они представлены в виде списка, первое значение - число продаж первого товара, второе значение - второго, и так далее. Вы хотите посмотреть на список самых популярных товаров среди тех, у которых объём продаж не выше заданного числа.

Напишите функцию, которая принимает список чисел my_list, число  $n$ и число $k$  и возвращает сумму $k$ наибольших чисел среди всех чисел списка меньше либо равных  $n$ .

In [253]:
def function_3_1(my_list, n, k):
    res_list = list(filter((lambda x:x<=n), my_list))
    return sum(list(reversed(sorted(res_list)))[:k])

In [254]:
function_3_1([1, 2, 3, 4, 5, 6, 3, 7], 7, 1) == 7

True

In [255]:
function_3_1([1, 2, 3, 4, 5, 6, 3, 7], 7, 3) == 18

True

In [256]:
function_3_1([1, 2, 3, 4, 5, 6, 3, 7], 7, 5) == 25

True

In [257]:
function_3_1([1, 2, 3, 4, 5, 6, 3, 7], 7, 8) == 31

True

In [258]:
function_3_1([1, 2, 3, 4, 5, 6, 3, 7], 7, 10) == 31

True

In [259]:
function_3_1([1, 5, 3, 6, 5, 6, 3, 6], 6, 3) == 18

True

In [260]:
function_3_1([1, 5, 3, 6, 5, 6, 3, 6], 5, 3) == 13

True

In [261]:
function_3_1([1, 5, 3, 6, 5, 6, 3, 6], 4, 3) == 7

True

In [262]:
function_3_1([1, 5, 3, 6, 5, 6, 3, 6], 6, 2) == 12

True

In [263]:
function_3_1([1, 5, 3, 6, 5, 6, 3, 6], 5, 2) == 10

True

In [264]:
function_3_1([1, 5, 3, 6, 5, 6, 3, 6], 4, 2) == 6

True

## Задание 3.2

Напишите списковое выражение, генерирующее все простые числа не больше заданного числа

In [313]:
def function_3_2(n):
    return [x for x in xrange(2,n+1) if all(x%y!=0 for y in xrange(2,x))]
function_3_2(3)

[2, 3]

In [314]:
function_3_2(3) == [2, 3]

True

In [315]:
function_3_2(10) == [2, 3, 5, 7]

True

In [316]:
function_3_2(20) == [2, 3, 5, 7, 11, 13, 17, 19]

True

# Опциональная часть (выполнять по желанию, если интересно)

## Задание 4.1

Напишите функцию, которая по множеству, возвращает список всех его подмножеств

In [1]:
def function_4_1(my_set):

    return

In [33]:
def check_4_1(my_set, function_res):
    if len(function_res) != len(set(map(frozenset, function_res))):
        return False
    if len(function_res) != 2 ** len(my_set):
        return False
    return all(x <= my_set for x in function_res)

In [34]:
check_4_1(set(range(10)), function_4_1(set(range(10))))

False

In [35]:
check_4_1(set(range(1)), function_4_1(set(range(1))))

False

In [36]:
check_4_1(set(range(20)), function_4_1(set(range(20))))

False

## Задание 4.2

Напишите функцию раскладывающее число на простые множители

по числу $n$ нужно вернуть список пар $(p_i, c_i)$ такой, что $\prod_i~p_i^{c_i} = n$

In [18]:
def is_prime(n):
    return n > 1 and all(n % i != 0 for i in xrange(2, n))

def function_4_2(n):
    i=1
    res = []
    while i<=n:
        if is_prime(i):
            k=0
            while n % i == 0:
                n = n/i
                k += 1
            if k!=0:
                res.append((i,k))
        i+=1
    return res

In [19]:
def check_4_2(n, my_list):
    prod = 1
    for p, c in my_list:
        if not is_prime(p):
            return False
        prod *= p ** c
    return prod == n

In [20]:
check_4_2(10, function_4_2(10))

True

In [21]:
check_4_2(11690, function_4_2(11690))

True

In [22]:
check_4_2(254242, function_4_2(254242))

True